@{
    ViewBag.Title = "Main page";
}

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Work server status information</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="FastTravel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Быстрые ссылки (последние сборки)</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#">Work-AppPool</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                        <li>
                            <a href="#">WORK-19324-1229</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Мониторинг сервера (название: work-web)</h3>
            </div>
            <div class="panel-body">
                <h4>
                    Ниже представлены основные показатели производительности сервера (авто-обновление: 5 сек.)
                </h4>
                <div id="perfomance-chart"></div>
                <div>
                    <p>Список наиболее требовательных процессов</p>
                </div>
                <div class="table-bordered">
                    <table class="table" id="perfomance-detail-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Название</th>
                                <th>Потребление ресурсов</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>103536</td>
                                <td>GoogleCrome.exe</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>103536</td>
                                <td>GoogleCrome.exe</td>
                                <td>20%</td>
                            </tr>
                            <tr>
                                <td>103536</td>
                                <td>GoogleCrome.exe</td>
                                <td>20%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Статиска свободного места на локальных дисках:</h4>
                <div class="row">
                    <div id="disk-space-chart" class="col-md-6"></div>
                    <div id="disk-space-char2" class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>