<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Информация</h3>
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="3"></textarea>
    </div>
</div>