@model string
@Styles.Render("~/Content/CodeHightlightStyles/monokai-sublime.css")

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Конфигурационный файл</h3>
    </div>
    <div class="panel-body">
        <pre><code class="xml">@Model</code></pre>
    </div>
</div>

@Scripts.Render("~/Scripts/highlight.pack.js")
<script>hljs.initHighlightingOnLoad();</script>