<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Список фич</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover featuresTable">
            <tr>
                <td class="col3">
                    <strong>Id</strong>
                </td>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    <strong>State</strong>
                </td>
            </tr>
            <tr>
                <td>03c5a9dc-0aa8-44c5-be03-089aa9fc3d2a</td>
                <td>OrdersAndInvoicesEpicFeature</td>
                <td>
                    <select>
                        <option>Включено</option>
                        <option>Выключено</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>03c5a9dc-0aa8-44c5-be03-089aa9fc3d2a</td>
                <td>OrdersAndInvoicesEpicFeature</td>
                <td>
                    <select>
                        <option>Включено</option>
                        <option>Выключено</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>03c5a9dc-0aa8-44c5-be03-089aa9fc3d2a</td>
                <td>OrdersAndInvoicesEpicFeature</td>
                <td>
                    <select>
                        <option>Включено</option>
                        <option>Выключено</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>03c5a9dc-0aa8-44c5-be03-089aa9fc3d2a</td>
                <td>OrdersAndInvoicesEpicFeature</td>
                <td>
                    <select>
                        <option>Включено</option>
                        <option>Выключено</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
