/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.LoginContainer {
    margin-top: 100px;
    width: 400px;
    height: 400px;
}

.LoginLogo {
    width: 300px;
    height: 300px;
    text-align: center;
}

.IISButtonIco {
    width: 50px;
    margin-top: 0px;
    margin-left: 0px;
}

.IISButton {
    width: 95px;
    height: 110px;
    margin-top: 0;
    margin-left: 5px;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
}

    .IISButton a:hover {
        text-decoration: none;
    }

    .IISButton:hover {
        background-color: rgb(204, 239, 250);
    }

    .IISButtonSelected {
        background-color: rgb(176, 236, 253);
    }

.featuresTable tr:first-of-type:hover {
    background-color: white;
}

.col3 {
    width: 33%;
}

.input-text {
    min-height: 20px !important;
    margin: 0;
    padding: 1px 3px;
    line-height: 1.5em;
    border: 1px solid;
    border-color: #888 #CCC #CCC;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); */
    font-size: 13px;
}

.ts-btn {
    display: inline-block;
    padding: 5px 14px 6px;
    outline: 0;
    cursor: pointer;
    background-color: #f6f6f6;
    color: #333;
    font-size: 13px;
    line-height: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font: normal 100% "Helvetica Neue", Arial, sans-serif;
}

.ts-btn:hover {
    background-color: #efefef;
    filter: none;
    color: #333;
    text-decoration: none;
    -webkit-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.ts-btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.ts-btn:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
}
.ts-btn[disabled],
.ts-btn[disabled]:hover,
.ts-btn[disabled]:active {
    background-color: #e6e6e6;
    background-image: none;
    background-position: 0 0;
    filter: inherit;
    color: #666;
    box-shadow: inherit;
}

.ts-btn-mini {
    padding: 0 6px;
}

.actionBar {
    width: 90%;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: .6em 10px;
    line-height: 0;
}

.actionBarElement {
    display: inline-block;
    text-align: start;
}

.userTable {
    width: 90%;
    margin: 0 auto;
    text-align: start;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    overflow-x: auto;
    display: block;
}

table.userList {
    width: 100%;
    margin: 0 0 1em;
    padding: 0;
    border-bottom: solid 2px #e3e9ef;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.dark th {
    background-color: #ABB1C4;
    margin: 0;
    padding: 2px 6px;
    color: #FFF;
    text-align: left;
}

table.dark td {
    margin: 0;
    padding: 2px 6px;
    text-align: left;
}

table.dark tr:hover {
    background-color: #FFC;
}

.admin-sidebar {
    width: 16%;
    min-width: 204px;
    padding: 0 20px 10px 0;
    box-sizing: content-box;
}

.sidebar-category, .sidebar-item {
    padding: 0.2em 0;
}

.sidebar-category {
    
}

.sidebar-item {
    max-width: 240px;
    padding-left: 20px;
    white-space: nowrap;
}

.admin-sidebar .sidebar-item.active {
    background: #E9F3FD;
    font-weight: bold;
}

.admin-sidebar .sidebar-item:hover {
    background: #E9F3FD;
    cursor: pointer;
}

.toolbarItem {
    float: left;
    margin-right: 12px;
}

.text-center {
    text-align: center;
    float: none;
}

.glyphicon-chevron-down {
    color: #888888;
    font-size: 12px;
}

.glyphicon-plus {
    color: forestgreen;
    font-size: 12px;
}

.block-center {
    margin: 0 auto;
}

.ts-btn-primary {
    color: #FFF;
    background-color: #2d5fb3;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #438ed7, #2d5fb3);
    background-image: linear-gradient(to bottom, #438ed7, #2d5fb3);
    filter: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #2d5fb3 #2d5fb3 #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: none;
}

.ts-btn-primary:hover {
    color: #FFF;
    background-color: #2d5fb3;
    background-position: 0 -15px;
    box-shadow: none;
    -webkit-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.submitButton {
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.line {
    margin-top: 10px;
}

.action-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}